h3{
    font-family: 'Pacifico', cursive;
}

h5{
    color: #ffcd38 !important;
    font-family: 'Playfair Display', serif;
}

.form-check-label{
    font-family: 'Poppins', sans-serif;
}
a{
    color: #4a4a4a;
    text-decoration: none;
}